_site
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
.Rproj.user
serve
*.directory

_source/*.html
_posts/*.html
publications.html
about.html
cache

edild.github.com.sublime-project
edild.github.com.sublime-workspace
