  <div class="sidebar">
    <div id="sidebar-social">
      <h4>Social</h4>
      <li style="white-space:nowrap;"><i class="fa fa-fw fa-envelope"></i><a href="mailto:eduardszoecs@gmail.com" title="Email"> eduardszoecs@gmail.com</a></li>
      <li><i class="fa fa-fw fa-twitter"></i><a href="http://twitter.com/EduardSzoecs" title="Twitter"> @EduardSzoecs</a></li>
      <li><i class="fa fa-fw fa-github"></i><a href="https://github.com/EDiLD" title="Github"> EDiLD</a></li>
      <li><i class="fa fa-fw fa-stack-overflow"></i><a href="http://stackoverflow.com/users/511399/edi" title="Stackoverflow"> EDi</a></li>
      <h4>Links</h4>
      <li><i class="ai ai-researchgate-square"></i><a href="http://www.researchgate.net/profile/Eduard_Szoecs" title="Researchgate"> Researchgate</a></li>
      <li><i class="ai ai-google-scholar-square"></i><a href="https://scholar.google.de/citations?user=QlQH1zEAAAAJ&hl=en" title="Google scholar"> Google Scholar</a></li>
      <li><i class="ai ai-orcid"></i><a href="http://orcid.org/0000-0001-5376-1194" title="Orcid"> Orcid ID</a></li>
      <li style="white-space:nowrap;"><i class="fa fa-university"></i><a href="https://www.uni-koblenz-landau.de/en/campus-landau/faculty7/environmental-sciences/landscape-ecology/Staff/eduardszoecs" title="Univerity"> Uni Koblenz-Landau</a></li>
      <li><i class="fa fa-fw fa-rss"></i><a href="{{ site.url }}/feed.xml" title="Subscribe RSS"> Subscribe</a></li>
    </div>
  </div>