.badge {
  display: inline-block;
  background: $badge-background;
  border-radius: 2 * $border-radius;
  color: $badge-font-color;
  font-family: $alt-font;
  @include font-size(12, no, 12);
  font-weight: 600;
  padding: 0.25em 1em;
  text-align: center;
}

.badge-success {
  @extend .badge;
  background: $badge-success-color;
  color: $white;
}
